# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Roland Schläfli
	email = rolandschlaefli@gmail.com
[alias]
	cm = commit -m
	co = checkout
	br = branch
	cb = checkout -B
	st = status
	d = diff
	ds = status -v
	unstage = reset HEAD --
	last = log -1 HEAD
	c = commit
[pull]
	rebase = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection

[merge]
    conflictstyle = zdiff3
